@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
}

/*=============== Fondo ===============*/

.backquimica {
  background-image: url("../assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.backgroundWhiteSmoke {
  margin-top: 50vh;
  width: 100%;
  height: 50vh;
  background: white;
  display: flex;
  justify-content: center;
}

.fondo {
  background-image: url("../assets/img/background.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  display: flex;
}

/*=============== Logo ===============*/

.logoLogin {
  text-align: center;
}

/*=============== Caja ===============*/

.card__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__logo h1 {
  text-align: center;
  font-size: 32px;
  color: #00c795;
}

.card__logo img { 
  object-fit: cover;
  height: 100px;
  width: 75px;
}

.box {
  position: absolute;
  width: 380px;
  min-height: 620px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 32px;
  padding-top: 3rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.box h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #00c795;
}
.box h2 {
  padding-left: 1.2rem;
  font-size: 24px;
  font-weight: 500;
}
.box p {
  font-weight: 500;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: #666666;
}
.espacioTexto {
  margin-top: 10px;
  margin-bottom: 20px;
}
#espacioEnlaceAyuda {
  padding-left: 1.2rem;
  font-size: 18px;
}
#espacioIniciarSesion {
  margin-top: 8px;
  margin-bottom: 4px;
  /* padding-top: 12px;
  padding-bottom: 4px; */
}

.botonesRecuperar {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
}

.confirmarDatos {
  text-align: center;
  /* margin-top: 40px; */
}
.recuperar {
  /* margin: 12px 0 4px; */
  margin-right: 8px;
  text-align: right;
  /* padding-top: 0.2rem;
  padding-left: 11rem;
  padding-bottom: 1.2rem; */
  font-size: 16px;
  font-weight: 400;
  color: #00c795;
}
.ayuda {
  /* padding-top: 2.5rem;
  padding-bottom: 1rem; */
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #00c795;
}
.ayuda a {
  color: #00c795;
}
.recuperar a {
  color: #00c795;
}
#espacioEnlaceAyuda a {
  color: #00c795;
}

a:-webkit-any-link {
  text-decoration: none;
  cursor: pointer;
}

/*=============== Inputs ===============*/

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  font-size: 24px;
  margin: 8px 0 4px;
}

.email-input {
  margin: 8px 0;
}

.inputCorreo {
  text-align: center;
  /* margin-top: 8px; */
  /* padding-bottom: 10px; */
}

.inputPass {
  /* margin-top: 8px; */
  text-align: center;
}

.inputPass p {
  padding: 0px;
  margin: 0px;
  padding-left: 5px;
  font-size: 14px;
}

.checkBox {
  /* padding-left: 1.4rem; */
  margin-left: 8px;
  /* float: right; */
}

/* #botonSiguiente {
  padding-top: 10px;
  text-align: center;
} */

.login-btn {
  border-radius: 13px;
  background-color: #00c795;
  padding: 10px 32px;
  font-size: 20px;
  text-transform: none;
  /* font-weight: regular; */
  margin: 16px auto;
  width: 140px;
  height: 45px;
}

.copyright-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 15px;
}

.copyright-box h1 {
  font-size: 14px;
  font-weight: 200;
  color: #888888;
}

.copyright-box img {
  margin-top: 4px;
  width: 15%;
}

.copyright {
  white-space: nowrap;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.copyright h1 {
  font-size: 14px;
  font-weight: 200;
  margin-top: -10px;
  color: #888888;
}
.copyright img {
  margin-bottom: -25px;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*=============== Sección de ayuda ===============*/

#recuperarContraseña {
  font-weight: 500;
  font-size: 24px;
  padding-left: 1.2rem;
  color: #333333;
}

#recuperarContraseñaDescripcion {
  font-weight: 500;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: #666666;
}

.inputCorreoRecuperar {
  text-align: center;
  padding-top: 1.4rem;
  padding-bottom: 0.4rem;
}

.botonesRecuperar .boton {
  float: left;
  text-align: center;
  padding: 1.2rem;
}
