.backquimica {
  background-image: url("../../assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.lower-background {
  margin-top: 50%;
  width: 100%;
  height: 50%;
  background: whitesmoke;
  display: flex;
  justify-content: center;
}

.login-background {
  background-image: url("../../assets/img/background.jpg");
  width: 100%;
  height: 50%;
  background-size: cover;
  display: flex;
}

.logo_login {
  text-align: center;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;

  background: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0 10px 20px;

  transform: translate(-50%, -50%);
  will-change: transform;
}

.card-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-logo h1 {
  text-align: center;
  font-size: 32px;
}

.card-logo img {
  object-fit: cover;
  height: 100px;
  width: 75px;
}

.box {
  position: absolute;
  width: 380px;
  min-height: 620px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 32px;
  padding-top: 3rem;
  padding-bottom: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.box h1 {
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  color: #00c795;
}
.box h2 {
  padding-left: 1.2rem;
  font-size: 24px;
  font-weight: 500;
}
.box p {
  font-weight: 500;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  color: #666666;
}

.forgot-password {
  text-align: right;
}

.trouble-signing {
  text-align: center;
}

#espacio_enlace_ayuda a {
  color: #00c795;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login-form h2 {
  font-size: 24px;
  margin: 4px 0;
}

.login-button {
  align-self: center;
  width: 140px;
}

.copyright-box {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  font-size: 14px;
  font-weight: 200;
  color: #888888;
}

.copyright-box img {
  width: 48px;
}
