.title {
  user-select: none;
  display: flex;
  justify-content: space-between;
  gap: 35%;
  margin-bottom: 20px;
}

.title h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

.subtitle {
  user-select: none;
  text-align: center;
  margin-bottom: 8px;
}

.subtitle h1 {
  font-size: 1rem;
  font-weight: 500;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contentWrapper h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  color: #333333;
}
